@font-face {
    font-family: 'Noto_Sans_Re';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto_Sans_Me';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Noto_Sans_Bold';
    src: url('../font/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Droid';
    src: url('../font/DroidSansFallback.ttf') format('truetype');
}